<div class="report-container" style="margin-bottom: 20px;">
	<a download href={{link}}>
		<img style="float: left; padding-left: 30px;" src="assets/images/blitzlicht.png" height="52"/>
		<p style="margin-left: 120px;">Blitzlicht Report <br/>Ausgabe: {{month}} {{year}}</p>
	</a>
</div>


