

      <table class="wrap-inner">
        <tr>
          <td class="wrap-inner-corner-top"></td>
          <td class="wrap-inner-horizontal"></td>
          <td class="wrap-inner-corner-top"></td>
        </tr>
        <tr>
          <td class="wrap-inner-vertical"></td>
          <td class="wrap-inner-center">


            <table class="wrap-outer">
              <tr>
                <td class="wrap-outer-corner-top"></td>
                <td class="wrap-outer-horizontal"></td>
                <td class="wrap-outer-corner-top"></td>
              </tr>
              <tr>
                <td class="wrap-outer-vertical"></td>
                <td class="wrap-outer-center">

            {{yield}}

                </td>
                <td class="wrap-outer-vertical"></td>
              </tr>
              <tr >
                <td class="wrap-outer-corner"></td>
                <td class="wrap-outer-horizontal"></td>
                <td class="wrap-outer-corner"></td>
              </tr>
            </table>

          </td>
          <td class="wrap-inner-vertical"></td>
        </tr>
        <tr >
          <td class="wrap-inner-corner"></td>
          <td class="wrap-inner-horizontal"></td>
          <td class="wrap-inner-corner"></td>
        </tr>
      </table>


