.kanzlei {
	background-image: url('../assets/images/kanzlei_01.jpg')
}

.firmen {
	background-image: url('../assets/images/firmen_01.jpg')
}

.index {
	background-image: url('../assets/images/kanzlei_01.jpg')
}

.informationen {
	background-image: url('../assets/images/informationen_01.jpg')
}

.jobs {
	background-image: url('../assets/images/jobs_01.jpg')
}

.kontakt {
	background-image: url('../assets/images/kontakt_01.jpg')
}

.kontaktformular {
	background-image: url('../assets/images/kontaktformular_01.jpg')
}

.leistungen {
	background-image: url('../assets/images/leistungen_01.jpg')
}

.mandanten {
	background-image: url('../assets/images/mandanten_01.jpg')
}

.philosophie {
	background-image: url('../assets/images/philosophie_01.jpg')
}

.privat {
	background-image: url('../assets/images/privat_01.jpg')
}

.service {
	background-image: url('../assets/images/service_01.jpg')
}

.team {
	background-image: url('../assets/images/team_01.jpg')
}

.ueberuns {
	background-image: url('../assets/images/ueberuns_01.jpg')
}

.unterstuetzung {
	background-image: url('../assets/images/unterstuetzung_01.jpg')
}
