.left {
  margin-left: -14px;
  height: 100%;
  width: 15%;
}

.right {
  height: 100%;
  width: 15%;
}

.arrow-container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	a {
		color: white;
	}

	.navigation-text {
		display: flex;
		align-items: center;
		justify-content: center;

		p {

			padding: 4px 6px;
			color: white;
			margin: 0;
		}
	}
}
