.wrap-outer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-spacing: 0;
  padding: 0;
  margin: 0;

  tr {
    padding: 0;
    margin: 0;
  }

  td {
    padding: 0;
    margin: 0;
  }

  .wrap-outer-corner {
    height: 6px;
    width: 6px;
    background-color: #EBECE9;
  }

  .wrap-outer-corner-top {
    height: 107px;
    width: 6px;
    background-color: #EBECE9;
  }

  .wrap-outer-vertical {
    background-color: #EBECE9;
  }

  .wrap-outer-horizontal {
    background-color: #EBECE9;
  }

  .wrap-outer-center {
    border: 1px solid grey;
  }
}

.wrap-inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-spacing: 0;
  padding: 0;
  margin: 0;

  tr {
    padding: 0;
    margin: 0;
  }

  td {
    padding: 0;
    margin: 0;
  }

  .wrap-inner-corner {
    height: 13px;
    width: 13px;
    background-color: white;
  }

  .wrap-inner-corner-top {
    height: 113px;
    width: 13px;
    background-color: white;
  }

  .wrap-inner-vertical {
    background-color: white;
  }

  .wrap-inner-horizontal {
    background-color: white;
  }

  .wrap-inner-center {
    background-image: url('../assets/images/background_01.jpg');
    background-position-y: -40px;
    background-size: 100% auto;
  }
}
