/*
@media screen and (max-width: 500px) {
	.address {
		display: none;
	}

  !*.wrap-inner-corner-top {
    height: 79px;
  }
  .wrap-inner-horizontal {
    height: 79px;
  }*!

  .wrap-outer .wrap-outer-corner-top {
    .wrap-outer-corner-top {
      height: 74px;
    }
  }

	.header {
		height: 70px;

		.header-left img {
			width: 70px;
			height: 70px;
			margin: 0;
		}

		.header-pages {
			top: 20px;
		}

		.content {
			flex: 16;
		}
	}

	.content {
		flex: 16;
	}
}
*/
