<div class="content-img firmen"></div>

<div class="content-scroll">
	<div class="scrollable">
		<h1>Unternehmen und Vereine</h1>
		<p>Für Sie und Ihr Unternehmen verstehen wir uns als kompetenter Partner in folgenden Leistungen.</p>
		<div>
			<ul style="float: left; margin-right: 20px;">
				<li>Gründungsberatung</li>
				<li>Finanzbuchhaltung</li>
				<li>Lohn</li>
				<li>Jahresabschlüsse</li>
				<li>Steuererklärungen</li>
				<li>Außenprüfung</li>
			</ul>
			<ul style="float: left;">
				<li>Wirtschaftlichkeitsprüfung</li>
				<li>Unternehmensanalyse</li>
				<li>Unternehmensnachfolge</li>
				<li>Finanzierung</li>
				<li>Controlling</li>
			</ul>
		</div>
		<br/>
		<br/>
		<br/>
	</div>

	<div class="content-footer">
		<div class="content-footer-content">
			{{#link-to 'leistungen'}}Leistungen{{/link-to}}
			{{#link-to 'privat' class="content-footer-text-right"}}Privatkunden{{/link-to}}
		</div>
	</div>
</div>