<div class="content-img service"></div>

<div class="content-scroll">
	<div class="scrollable">
		<h1>Impressum</h1>

		<p><b>Steuerberater Josef Grieser</b></p>
		<p>Bahnhof 11</p>
		<p>88299 Leutkirch</p>
		<p>Telefon: 07561/912234</p>
		<p>Telefax: 07561/912235</p>
		<br/>
		<p>E-Mail: info@steuerberater-grieser.de</p>
		<p>Internet: www.steuerberater-grieser.de</p>
		<br/>
		<p>Zuständige Aufsichtsbehörde: Steuerberaterkammer Stuttgart</p>
		<p>Zuständige Kammer: Steuerberaterkammer Stuttgart</p>
		<p>Berufsbezeichnung: Steuerberater (verliehen in der Bundesrepublik Deutschland)</p>

		<br/>
		<p><b>Berufsrechtliche Regelungen:</b></p>

		<ul>
			<li>Steuerberatungsgesetz (StBerG)</li>
			<li>Durchführungsverordnung zum Steuerberatungsgesetz (DVStB)</li>
			<li>Berufsordnung für Steuerberater (BOStB)</li>
			<li>Steuerberatergebührenverordnung (StBGebV)</li>
		</ul>

		<p>Die Regelungen können bei der zuständigen Steuerberaterkammer Stuttgart oder bei der Bundessteuerberaterkammer
			unter
			http://www.bstbk.de (dort unter downloads/Berufsrecht) eingesehen werden.</p>

		<br/>
		<p><b>Haftungshinweis:</b></p>
		<p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den
			Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>
	</div>
</div>