<div class="content-scroll">
	<div class="scrollable">
		<h1>Informationen</h1>
    <p>Aktuelle Nachrichten und Informationen zu Steuern und Recht:</p> <!--(Quelle: <a href="https://www.datev.de/">www.datev.de</a>):</p-->
		  {{!rss-feed}}
    <p><b>Unser RSS-Feed ist aufgrund der DSGVO vorläufig deaktiviert.</b></p>
	</div>

	<div class="content-footer">
		<div class="content-footer-content">
			{{#link-to 'mandanten'}}Mandanten{{/link-to}}
			{{#link-to 'unterstuetzung' class="content-footer-text-right"}}Unterstützung{{/link-to}}
		</div>
	</div>
</div>

{{image-container image='informationen'}}