<div class="content-img">
    <img src="../assets/images/informationen_01.png"
            title="Quelle: https://static.pexels.com/photos/237675/pexels-photo-237675.jpeg"/>

</div>

<div class="content-text">
    <div class="content-text-text">
        <h1>Informationen</h1>
        <ul>
            <li>Unsere Unternehmenssoftware: <a href="http://www.datev.de">www.datev.de</a></li>
        </ul>

        <p>Wird bearbeitet...</p>
    </div>

    <div class="content-footer">
      {{#link-to 'mandanten'}}
          <p>Mandanten</p>
      {{/link-to}}
      {{#link-to 'unterstuetzung' class="content-footer-text-right"}}
          <p>Unterstützung</p>
      {{/link-to}}
    </div>
</div>