<div class="content-scroll">
	<div class="scrollable">
		<h1>Informationen</h1>
    <p>Aktuelle Nachrichten und Informationen zu Steuern und Recht (Quelle: <a href="https://www.datev.de/">www.datev.de</a>):</p>
		  {{rss-feed}}
	</div>
</div>

{{image-container image='informationen'}}