<div class="content-img informationen"></div>

<div class="content-scroll">
	<div class="scrollable">
		<h1>Informationen</h1>
		{{rss-feed}}
	</div>

	<div class="content-footer">
		<div class="content-footer-content">
			{{#link-to 'mandanten'}}Mandanten{{/link-to}}
			{{#link-to 'unterstuetzung' class="content-footer-text-right"}}Unterstützung{{/link-to}}
		</div>
	</div>
</div>