<div class="content-scroll">
	<div class="scrollable">
		<h1>Stellenangebot</h1>
		<p>Wir suchen derzeit f체r unsere Kanzlei</p>

		<ul>
			<li><b>eine/n Steuerfachgehilfe/in</b> oder <b>eine/n Steuerfachangestellte/n</b></li>
		</ul>
		<p>f체r die Erstellung von Steuererkl채rungen, Jahresabschl체ssen und Finanzbuchhaltungen.</p>
		<br/>
		<br/>
		<br/>
	</div>
</div>

{{image-container image='jobs'}}
