<div class="content-scroll">
	<div class="scrollable">
		<h1>Stellenangebot</h1>
		<p>Wir suchen derzeit für unsere Kanzlei</p>

		<ul>
			<li><b>eine/n Steuerfachgehilfe/in</b> oder <b>eine/n Steuerfachangestellte/n</b></li>
		</ul>
		<p>für die Erstellung von Steuererklärungen, Jahresabschlüssen und Finanzbuchhaltungen.</p>
		<br/>
		<br/>
		<br/>
	</div>

	<div class="content-footer">
		<div class="content-footer-content">
			{{#link-to 'ueberuns'}}Über Uns{{/link-to}}
			{{#link-to 'team' class="content-footer-text-right"}}Das Team{{/link-to}}
		</div>
	</div>
</div>

{{image-container image='jobs'}}
