<div class="content-img kanzlei"></div>

<div class="content-scroll">
	<div class="scrollable">
		<h1>Willkommen in unserer Kanzlei</h1>

		<p>Wir sind eine Steuerberatungskanzlei mit Sitz im schönen Leutkirch im Allgäu.</p>
		<p>Nutzen Sie unsere Homepage, um sich einen Überblick über unser Team und unserer individuellen Leistungen
			für Sie zu verschaffen. Über Ihren ersten Besuch und ein persönliches Kennenlernen (bei einem Kaffee) freuen
			wir uns selbstverständlich.</p>
		<br/>
		<br/>
		<br/>
	</div>

	<div class="content-footer">
		<div class="content-footer-content">
			{{#link-to 'ueberuns'}}Über Uns{{/link-to}}
			{{#link-to 'team' class="content-footer-text-right"}}Das Team{{/link-to}}
		</div>
	</div>
</div>