<div class="content-img">
    <img src="../assets/images/kontaktformular_01.png"
         title="Quelle: https://static.pexels.com/photos/234394/pexels-photo-234394.jpeg"/>
</div>

<div class="content-scroll">
    <div class="scrollable">
              <h1>Kontaktformular</h1>
              {{contact-form}}
    </div>
</div>
