<div class="content-img">
    <img src="../assets/images/kontakt_01.png" />
</div>

<div class="content-text">
    <div class="content-text-text">

      <h1>Kontaktinformationen</h1>
      <p><b>Steuerberater Josef Grieser</b></p>
      <p>Bahnhof 11</p>
      <p>88299 Leutkirch</p>
      <p>Telefon: 07561/912234</p>
      <p>Telefax: 07561/912235</p>
      <p>info@steuerberater-grieser.de</p><br/>

      <p><b>Unsere Öffnungszeiten</b></p>

    <table class="contact">
        <tr>
            <td>Mo:</td>
            <td>08:00 Uhr – 17:00 Uhr</td>
        </tr>
        <tr>
            <td>Di:</td>
            <td>08:00 Uhr – 17:00 Uhr</td>
        </tr>
        <tr>
            <td>Mi:</td>
            <td>08:00 Uhr – 17:00 Uhr</td>
        </tr>
        <tr>
            <td>Do:</td>
            <td>08:00 Uhr – 17:00 Uhr</td>
        </tr>
        <tr>
            <td>Fr:</td>
            <td>08:00 Uhr – 13:00 Uhr</td>
        </tr>
    </table>

    <br/>

      <p>Selbstverständlich ist es möglich ein Treffen nach Ihrem individuellen Terminplan zu vereinbaren.</p>

    </div>

    <div class="content-footer">
      {{#link-to 'karte'}}
          <p>Anfahrt</p>
      {{/link-to}}
      {{#link-to 'kontaktformular' class="content-footer-text-right"}}
          <p>Kontaktformular</p>
      {{/link-to}}
    </div>
</div>
