<div class="content-scroll">
	<div class="scrollable">
		<h1>Kontaktinformationen</h1>
		<p><b>Steuerberater Josef Grieser</b></p>
		<p>Bahnhof 11</p>
		<p>88299 Leutkirch</p>
		<p>Telefon: 07561/912234</p>
		<p>Telefax: 07561/912235</p>
		<p>info@steuerberater-grieser.de</p>
		<br/>
		<p><b>Unsere Öffnungszeiten</b></p>
		<table class="contact">
			<tr>
				<td><p>Mo:</p></td>
				<td><p>08:00 Uhr – 17:00 Uhr</p></td>
			</tr>
			<tr>
				<td><p>Di:</p></td>
				<td><p>08:00 Uhr – 17:00 Uhr</p></td>
			</tr>
			<tr>
				<td><p>Mi:</p></td>
				<td><p>08:00 Uhr – 17:00 Uhr</p></td>
			</tr>
			<tr>
				<td><p>Do:</p></td>
				<td><p>08:00 Uhr – 17:00 Uhr</p></td>
			</tr>
			<tr>
				<td><p>Fr:</p></td>
				<td><p>08:00 Uhr – 13:00 Uhr</p></td>
			</tr>
		</table>
		<br/>
		<p>Selbstverständlich ist es möglich ein Treffen nach Ihrem individuellen Terminplan zu vereinbaren.</p>
		<br/>
		<br/>
		<br/>
	</div>

	<div class="content-footer">
		<div class="content-footer-content">
			{{#link-to 'karte'}}Anfahrt{{/link-to}}
			{{#link-to 'kanzlei' class="content-footer-text-right"}}Kanzlei{{/link-to}}
		</div>
	</div>
</div>

{{image-container image='kontakt'}}