<div class="content-scroll">
	<div class="scrollable">
		<h1>Tätigkeitenschwerpunkte</h1>
		<ul>
			<li>Gestaltungsberatung</li>
			<li>Existenzgründungsberatung</li>
			<li>Betriebswirtschaftliche Beratung in jeder Form</li>
			<li>Unternehmenssanierungen</li>
			<li>Beratung bei Unternehmenskauf und –verkauf</li>
			<li>Jahresabschlüsse und Steuererklärungen</li>
			<li>Lohn- und Finanzbuchhaltung</li>
			<li>Erbschaften und Schenkungen</li>
		</ul>
		<br/>
		<br/>
		<br/>
	</div>
</div>

{{image-container image='leistungen'}}