<div class="content-img">
    <img src="../assets/images/mandanten_01.png"
         title="Quelle: https://static.pexels.com/photos/30744/pexels-photo-30744.jpg"/>
</div>

<div class="content-text">
    <div class="content-text-text">
        <h1>Mandantenbereich</h1>

        <p>Wird bearbeitet...</p>
    </div>

    <div class="content-footer">
      {{#link-to 'informationen'}}
          <p>Informationen</p>
      {{/link-to}}
      {{#link-to 'unterstuetzung' class="content-footer-text-right"}}
          <p>Unterstützung</p>
      {{/link-to}}
    </div>
</div>