<div class="content-scroll">
	<div class="scrollable">
		<h1>Mandantenbereich</h1>
		<p>Wir veröffentlichen hier unsere monatliche Übersicht für unsere Mandanten.</p>
		<br/>
    <a href='../assets/blitzlicht/201801 - Blitzlicht.pdf' download>
			<img style="float: left; padding-left: 4%;" src="assets/images/blitzlicht.png" width="120"/>
			<p style="margin-left: 130px; margin-top: 8px;">Blitzlicht Report</p>
			<p style="margin-left: 130px;">Ausgabe: Januar 2018</p>
		</a>
		<br/>
    <a href='../assets/blitzlicht/201802 - Blitzlicht.pdf' download>
			<img style="float: left; padding-left: 4%;" src="assets/images/blitzlicht.png" width="120"/>
			<p style="margin-left: 130px; margin-top: 8px;">Blitzlicht Report</p>
			<p style="margin-left: 130px;">Ausgabe: Februar 2018</p>
		</a>
		<br/>
    <a href='../assets/blitzlicht/201803 - Blitzlicht.pdf' download>
			<img style="float: left; padding-left: 4%;" src="assets/images/blitzlicht.png" width="120"/>
			<p style="margin-left: 130px; margin-top: 8px;">Blitzlicht Report</p>
			<p style="margin-left: 130px;">Ausgabe: März 2018</p>
		</a>
		<br/>
    <a href='../assets/blitzlicht/201804 - Blitzlicht.pdf' download>
      <img style="float: left; padding-left: 4%;" src="assets/images/blitzlicht.png" width="120"/>
      <p style="margin-left: 130px; margin-top: 8px;">Blitzlicht Report</p>
      <p style="margin-left: 130px;">Ausgabe: April 2018</p>
    </a>
    <br/>
    <a href='../assets/blitzlicht/201805 - Blitzlicht.pdf' download>
      <img style="float: left; padding-left: 4%;" src="assets/images/blitzlicht.png" width="120"/>
      <p style="margin-left: 130px; margin-top: 8px;">Blitzlicht Report</p>
      <p style="margin-left: 130px;">Ausgabe: Mai 2018</p>
    </a>
    <br/>
    <a href='../assets/blitzlicht/201806 - Blitzlicht.pdf' download>
      <img style="float: left; padding-left: 4%;" src="assets/images/blitzlicht.png" width="120"/>
      <p style="margin-left: 130px; margin-top: 8px;">Blitzlicht Report</p>
      <p style="margin-left: 130px;">Ausgabe: Juni 2018</p>
    </a>
    <br/>
    <br/>
		<br/>
		<br/>
	</div>

	<div class="content-footer">
		<div class="content-footer-content">
			{{#link-to 'informationen'}}Informationen{{/link-to}}
			{{#link-to 'unterstuetzung' class="content-footer-text-right"}}Unterstützung{{/link-to}}
		</div>
	</div>
</div>

{{image-container image='mandanten'}}