<div class="content-scroll">
  <div class="scrollable">
		<h1>Unsere Mobile Webseite</h1>

		<p><b>{{#link-to 'kanzlei'}}<a href="">Kanzlei</a>{{/link-to}}</b><br/>
		{{#link-to 'philosophie'}}<a href="">Philosophie</a>{{/link-to}}<br/>
		 {{#link-to 'service'}}<a href="">Service</a>{{/link-to}}<br/>
		<br/>
		<b>{{#link-to 'mandanten'}}<a href="">Mandanten</a>{{/link-to}}</b><br/>
		{{#link-to 'informationen'}}<a href="">Informationen</a>{{/link-to}}<br/>
		{{#link-to 'unterstuetzung'}}<a href="">Unterstützung</a>{{/link-to}}<br/>
		<br/>
		<b>{{#link-to 'leistungen'}}<a href="">Leistungen</a>{{/link-to}}</b><br/>
		{{#link-to 'firmen'}}<a href="">Firmenkunden</a>{{/link-to}}<br/>
		{{#link-to 'privat'}}<a href="">Privatkunden</a>{{/link-to}}<br/>
		<br/>
		<b>{{#link-to 'ueberuns'}}<a href="">Über Uns</a>{{/link-to}}</b><br/>
		{{#link-to 'team'}}<a href="">Das Team</a>{{/link-to}}<br/>
		{{#link-to 'jobs'}}<a href="">Jobangebote</a>{{/link-to}}<br/>
		<br/>
		<b>{{#link-to 'kontakt'}}<a href="">Kontakt</a>{{/link-to}}</b><br/>
	    {{#link-to 'datenschutz'}}<a href="">Datenschutzerklärung</a>{{/link-to}}<br/>
		{{#link-to 'impressum'}}<a href="">Impressum</a>{{/link-to}}<br/></p>


    <br/>
    <br/>
		<br/>
		<br/>
	</div>
</div>

{{image-container image='service'}}
