<div class="content-scroll">
	<div class="scrollable">
		<h1>Unsere Philosophie</h1>
    <p>Die Bedürfnisse unserer Mandanten, wie insbesondere Sicherheit, Wertschätzung und Vertrauen stehen im Mittelpunkt
      unseres Handelns. Durch individuelle Lösungen, Beratungsleistungen und bestmögliche Unterstützung verfolgen wir
      das Ziel eine professionelle und erfolgreiche Beziehung zu Ihnen zu garantieren.</p>
		<ul>
			<li>Eine gute und fundierte Beratung macht unsere Mandanten erfolgreich.</li>
			<li>Wir steuern und beraten unsere Mandanten auf dem Weg des Erfolges.</li>
			<li>Eine betriebswirtschaftliche Ausrichtung unserer Beratung ist uns sehr wichtig.</li>
			<li>Wir scheuen uns nicht unsere Mandanten auch auf Defizite in deren Unternehmensführung hinzuweisen.</li>
			<li>Wir helfen unseren Mandanten auch aktiv bei der Lösung von Problemen im betriebswirtschaftlichen Bereich.</li>
		</ul>
		<br/>
		<br/>
		<br/>
	</div>

	<div class="content-footer">
		<div class="content-footer-content">
			{{#link-to 'kanzlei'}}Kanzlei{{/link-to}}
			{{#link-to 'service' class="content-footer-text-right"}}Service{{/link-to}}
		</div>
	</div>
</div>

{{image-container image='philosophie crop'}}