<div class="content-img crop">
    <img src="../assets/images/philosophie_01.png"
         title="Quelle: https://static.pexels.com/photos/55613/pexels-photo-55613.jpeg"/>
</div>

<div class="content-text">
    <div class="content-text-text">
      <h1>Unsere Philosophie</h1>
      <ul>
          <li>Eine gute und fundierte Beratung macht unsere Mandanten erfolgreich.</li>
          <li>Wir steuern und beraten unsere Mandanten auf dem  Weg des Erfolges.</li>
          <li>Eine betriebswirtschaftliche Ausrichtung unserer Beratung ist uns sehr wichtig.</li>
          <li>Wir scheuen uns nicht unsere Mandanten auch auf Defizite in deren Unternehmensführung hinzuweisen.</li>
          <li>Wir helfen unseren Mandanten auch aktiv bei der Lösung von Problemen im betriebswirtschaftlichen Bereich.</li>
      </ul>
   </div>

    <div class="content-footer">
      {{#link-to 'kanzlei'}}
          <p>Kanzlei</p>
      {{/link-to}}
      {{#link-to 'service' class="content-footer-text-right"}}
          <p>Service</p>
      {{/link-to}}
    </div>
</div>