<div class="content-scroll">
	<div class="scrollable">
		<h1>Privatpersonen</h1>
		<p>Für Sie als Privatperson bieten wir unter anderem folgende Leistungen an.</p>
		<ul>
			<li>Einkommensteuererklärung</li>
			<li>Erbschaft- und Schenkungsteuererklärung</li>
			<li>Gestaltende Steuerberatung</li>
			<li>Internationales Steuerrecht</li>
		</ul>
		<br/>
		<br/>
		<br/>
	</div>

	<div class="content-footer">
		<div class="content-footer-content">
			{{#link-to 'leistungen'}}Leistungen{{/link-to}}
			{{#link-to 'firmen' class="content-footer-text-right"}}Firmenkunden{{/link-to}}
		</div>
	</div>
</div>

{{image-container image='privat'}}