<div class="content-scroll">
	<div class="scrollable">
		<h1>Unser Angebot</h1>
		<p>Der Gesetzgeber macht es dem Bürger nicht gerade leicht, das „Wirrwarr“ allein zu bewältigen. Um
			Licht ins „Dunkle“ zu bringen, verstehen wir uns als Ihren verlässlichen Partner rund um das Thema
			Steuern. Egal ob es dabei um Sie als Privatperson geht oder um Ihr Unternehmen.</p>
		<p>Profitieren Sie von unserer Erfahrung und Expertise aus einem bereits vielseitigen Mandantenstamm
			(der Region). Nach einer gründlichen Analyse Ihres Sachverhalts, liegt das Ziel darin, das
			Bestmögliche zu erreichen und das nicht nur in steuerlicher Hinsicht.</p>
		<br/>
		<br/>
		<br/>
	</div>

	<div class="content-footer">
		<div class="content-footer-content">
			{{#link-to 'kanzlei'}}Kanzlei{{/link-to}}
			{{#link-to 'philosophie' class="content-footer-text-right"}}Philosophie{{/link-to}}
		</div>
	</div>
</div>

{{image-container image='kanzlei'}}