<div class="content-scroll">
  <div class="scrollable">
    <h1>Über uns</h1>

    <p>Unsere Mitarbeiter sind in Ihr Konzept eingebunden, kennen Ihre Ziele und begleiten Sie stetig und engagiert.
      In regelmäßigen Gesprächen überprüfen wir die Strategie und korrigieren, wenn nötig, den Weg.</p>
    <br/>
    <table>
      <tr>
        <td>
          <p><b>Josef Grieser</b><br>Dipl. Betriebswirt (FH); Steuerberater<br>07561/ 9122 34<br>Grieser.J@Steuerberater-Grieser.de</p>
        </td>
        <td>
          <p><b>Anita Katschke</b><br>Dipl. Betriebswirtin (FH); Steuerberaterin<br>07561/ 84899 13<br>A.Katschke@Steuerberater-Grieser.de</p>
        </td>
      </tr>
      <tr>
        <td>
          <p><b>Kurt Wolff</b><br>Steuerberater<br>07561/ 9122 34<br>K.Wolff@Steuerberater-Grieser.de</p>
        </td>
        <td>
          <p><b>Beate Geitzhaus</b><br>Dipl. Kaufmann Univ.; Steuerberaterin<br>07561/ 84899 26<br>B.Geitzhaus@Steuerberater-Grieser.de</p>
        </td>
      </tr>
      <tr>
        <td>
          <p><b>Josef Schupp</b><br>Bilanzbuchhalter<br>07561/ 84899 12<br>J.Schupp@Steuerberater-Grieser.de</p>
        </td>
        <td>
          <p><b>Gerhard Minarik</b><br>Steuerfachangestellter<br>07561/ 84899 21<br>G.Minarik@Steuerberater-Grieser.de</p>
        </td>
      </tr>
      <tr>
        <td>
          <p><b>Peter Straub</b><br>Steuerfachangestellter<br>07561/ 84899 45<br>P.Straub@Steuerberater-Grieser.de</p>
        </td>
        <td>
          <p><b>Tanja Gredler</b><br>Steuerfachangestellte; Wirtschaftsfachwirtin<br>07561/ 84899 19<br>T.Gredler@Steuerberater-Grieser.de</p>
        </td>
      </tr>
      <tr>
        <td>
          <p><b>Iris Müller</b><br>Steuerfachwirtin<br>07561/ 84899 35<br>I.Mueller@Steuerberater-Grieser.de</p>
        </td>
        <td>
          <p><b>Gabriele Hilsenbeck</b><br>Steuerfachwirtin<br>07561/ 84899 18<br>G.Hilsenbeck@Steuerberater-Grieser.de</p>
        </td>
      </tr>
      <tr>
        <td>
          <p><b>Elena Gann</b><br>Finanzbuchhalterin<br>07561/ 84899 25<br>E.Gann@Steuerberater-Grieser.de</p>
        </td>
        <td>
          <p><b>Tania Evers</b><br>Steuerfachangestellte<br>07561/ 84899 29<br>T.Evers@Steuerberater-Grieser.de</p>
        </td>
      </tr>
      <tr>
        <td>
          <p><b>Sonja Sonntag</b><br>Finanzbuchhalterin<br>07561/ 84899 33<br>S.Sonntag@Steuerberater-Grieser.de</p>
        </td>
        <td>
          <p><b>Karin Kibele</b><br>Betriebswirt VWA<br>07561/ 9122 34<br>K.Kibele@Steuerberater-Grieser.de</p>
        </td>
      </tr>
      <tr>
        <td>
          <p><b>Beate Biesinger</b><br>Volkswirtin<br>07561/ 84899 34<br>B.Biesinger@Steuerberater-Grieser.de</p>
        </td>
        <td>
          <p><b>Anne Fakler</b><br>Steuerfachangestellte<br>07561/ 84899 22<br>A.Fakler@Steuerberater-Grieser.de</p>
        </td>
      </tr>
      <tr>
        <td>
          <p><b>Christa Gundy</b><br>Buchhalterin<br>07561/ 84899 36<br>C.Gundy@Steuerberater-Grieser.de</p>
        </td>
        <td>
          <p><b>Manuel Männig</b><br>Steuerfachangestellter<br>07561/ 84899 17<br>M.Maennig@Steuerberater-Grieser.de</p>
        </td>
      </tr>
      <tr>
        <td>
          <p><b>Stefanie Thomann-Harr</b><br>Dipl. Finanzwirtin (FH)<br>07561/ 84899 16<br>S.Thomann@Steuerberater-Grieser.de</p>
        </td>
        <td>
          <p><b>Agatha Prinz</b><br>Finanzbuchhalterin<br>07561/ 84899 23<br>A.Prinz@Steuerberater-Grieser.de</p>
        </td>
      </tr>
      <tr>
        <td>
          <p><b>Evelyn Wocher</b><br>Steuerfachangestellte<br>07561/ 9122 34<br>E.Wocher@Steuerberater-Grieser.de</p>
        </td>
        <td>
          <p><b>Josef Staudt</b><br>Dipl. Betriebswirt (FH)<br>07561/ 84899 24<br>J.Staudt@Steuerberater-Grieser.de</p>
        </td>
      </tr>
      <tr>
        <td><p><b>Laura Buffler</b><br>Auszubildende Steuerfachangestellte<br>07561/ 84899 22<br>L.Buffler@Steuerberater-Grieser.de</p>
        </td>
        <td>
          <p><b>Raphael Sperling</b><br>Bachelor of Arts/Steuer- und Prüfungswesen<br>07561/ 84899 38<br>R.Sperling@Steuerberater-Grieser.de</p>
        </td>
      </tr>
      <tr>
        <td>
          <p><b>Hannelore Burger</b><br>Sekretariat<br>07561/ 9122 34<br>H.Burger@Steuerberater-Grieser.de</p>
        </td>
        <td>
          <p><b>Cornelia Müller</b><br>Steuerfachangestellte<br>07561/ 84899 20<br>C.Mueller@Steuerberater-Grieser.de</p>
        </td>
      </tr>
      <tr>
        <td>
          <p><b>Sabine Schüller</b><br>Steuerfachangestellte<br>07561/ 84899 39<br>S.Schueller@Steuerberater-Grieser.de</p>
        </td>
        <td>
          <p><b>Cornelia Reutlinger</b><br>Steuerfachangestellte<br>07561/ 84899 44<br>C.Reutlinger@Steuerberater-Grieser.de</p>
        </td>
      </tr>
    </table>
    <br/>
    <br/>
    <br/>
  </div>
</div>

{{image-container image='ueberuns'}}