<div class="content-img ueberuns"></div>

<div class="content-scroll">
	<div class="scrollable">
		<h1>Über Uns</h1>
		<p>Wird bearbeitet...</p>
		<br/>
		<br/>
		<br/>
	</div>

	<div class="content-footer">
		<div class="content-footer-content">
			{{#link-to 'team'}}Das Team{{/link-to}}
			{{#link-to 'jobs' class="content-footer-text-right"}}Jobangebote{{/link-to}}
		</div>
	</div>
</div>