<div class="content-img">
    <img src="../assets/images/ueberuns_01.png"
            title="Quelle: https://static.pexels.com/photos/2170/creative-desk-pens-school.jpg"/>
</div>

<div class="content-text">
    <div class="content-text-text">
        <h1>Über Uns</h1>

        <p>Wird bearbeitet...</p>
    </div>

    <div class="content-footer">
      {{#link-to 'team'}}
          <p>Das Team</p>
      {{/link-to}}
      {{#link-to 'jobs' class="content-footer-text-right"}}
          <p>Jobangebote</p>
      {{/link-to}}
    </div>
</div>