<div class="content-img ueberuns"></div>

<div class="content-scroll">
	<div class="scrollable">
		<h1>Unterstützung</h1>
		<p>Wird bearbeitet...</p>
		<br/>
		<br/>
		<br/>
	</div>

	<div class="content-footer">
		<div class="content-footer-content">
			{{#link-to 'mandanten'}}Mandanten{{/link-to}}
			{{#link-to 'informationen' class="content-footer-text-right"}}Informationen{{/link-to}}
		</div>
	</div>
</div>