<div class="content-img">
    <img src="../assets/images/unterstuetzung_01.png"
            title="Quelle: https://static.pexels.com/photos/34204/pexels-photo.jpg"/>

</div>

<div class="content-text">
    <div class="content-text-text">
        <h1>Unterstützung</h1>

        <p>Wird bearbeitet...</p>
    </div>

    <div class="content-footer">
      {{#link-to 'mandanten'}}
          <p>Mandanten</p>
      {{/link-to}}
      {{#link-to 'informationen' class="content-footer-text-right"}}
          <p>Informationen</p>
      {{/link-to}}
    </div>
</div>